<h1>About Taikoz</h1>
<div class="longfont">
  <p>
    Since 1997 Taikoz has developed an international reputation for vibrant performances that couple explosive energy and extreme dynamism with refinement and grace. From the most delicate melodies of the shakuhachi to the thunderous impact of the odaiko, Taikoz is at once meditative and free-spirited, primal and dramatic.
  </p>
  <p>
    The ensemble undertakes a year ‘round schedule of workshops, teaching and performances that have seen them appear on the stages of Australia’s finest concert halls, as well as those of Japan, Paris, Bangkok, Taiwan, Abu Dhabi and most recently the USA, where Taikoz gave a series of performances on the West Coast, culminating in headline appearances in the ‘Taiko Nation’ concerts at the 2014 World Taiko Gathering in Los Angeles. The group regularly appears in the theatres of regional Australia, having undertaken five Australia-wide tours. Taikoz has composed over thirty original works for wadaiko including several in combination with instruments such as shakuhachi, koto, marimba, saxophone, cello, drum set and didgeridoo. Distinguished composers Gerard Brophy, Andrea Molino, Michael Askill, David Pye, Graeme Koehne and Timothy Constable have also written works for the ensemble.
  </p>
  <p>
    Taikoz has collaborated with artists and companies as diverse as John Bell and the Bell Shakespeare Company, taiko greats Eitetsu Hayashi, Kenny Endo and Kaoru Watanabe, as well as distinguished choreographers Meryl Tankard and Anandavalli. In 2012, Taikoz collaborated with Kodo on a nation-wide tour of Australia. The group has also appeared in concerto works with the Sydney, Melbourne, West Australian and Queensland Symphony Orchestras, as well as the Dresden Sinfoniker in Europe. Awards include Limelight ‘Best New Composition Award’ for Kaidan, Sidney Myer Performing Arts Award in recognition of Taikoz’s commitment to Australian music and a Drover Award for regional touring and education.
  </p>
</div>
</br>
<div class="uk-block uk-block-muted">
  <p>
    ‘You don’t just listen to this music. You see it and feel it, too. Totally compelling.’</p>
    <small>Sydney Morning Herald</small>

</br>

  <p>
    ‘It’s the seeing that turns an exhilarating aural experience into something close to dance theatre with a spiritual bent. The virtuosity is thrilling but even better is the sense of pure joy the players transmit.’
  </p>
    <small>Weekend Australian</small>
</div>
</br>
<div>
  <%= link_to image_tag("buttons/Taikoz_Back.png", width: '100'), url_for(:back) %>
</div>
