<h1>HELP US KEEP OUR ARTFORM ALIVE</h1>
</br>
<div class="longfont">
  <p>
    Please consider a tax-deductible donation in support of Taikoz. Your donation, no matter how small, is invaluable in assisting us to continue our work. It is received with gratitude and appreciation.
  </p>
  <p>
    Donations of $2 and over are tax-deductible. Your contribution will be used to ensure that Taikoz can continue to cover a wide range of creative and educational activity. From our latest stage productions to concerts in schools, from teaching indigenous children through our involvement with Moorambilla Voices to weekly classes for the general community, from overseas performances to touring throughout regional Australia, as well as the training of the next generation of taiko musicians via the IDP and youth taiko groups – Taikoz is constantly evolving.
  </p>
  <p>
    Our patron Carl Vine has written an open letter outlining how your support can help us continue to create amazing music. To read Carl’s letter <a href="https://db.tt/TAblu65E">click here.</a>
  </p>
  <p>
    All donations over $5,000 will be acknowledged as a Commissioning Circle member and all donations over $500 will be acknowledged as an Inner Beat Circle member. This ensures you are the first to hear about the artistic direction and vision, receive briefings on the ensembles, be invited to private performances and enjoy opportunities to meet with the artists.
  </p>
</div>
<div class="uk-block uk-block-muted">
  <h3>To make your donation <a href="https://www.givenow.com.au/synergyandtaikoz">CLICK HERE</a></h3>
</div>

<h2>SUPPORT</h2>
<div class="longfont">
  <p>Synergy &amp; Taikoz Ltd is grateful to a number of organisations and individuals for their generous support of Taikoz&rsquo;s activities, several of which wish to remain anonymous.<br /></p>
  <p style="font-size: small;">We acknowledge the support of all donors, in particular members of our "Commissioning Circle" and "Inner Beat Circle".
</div>
<br>
<br>
  <div class="uk-grid">
    <div class="uk-width-1-2">
      COMMISSIONING CIRCLE MEMBERS (Donations &gt;$5,000)</p>
      <ul>
      <li><span style="font-size: small;">Anonymous</span></li>
      <li><span style="font-size: small;">Eoin de Burca</span></li>
      <li><span style="font-size: small;">Darin Cooper Foundation</span></li>
      <li><span style="font-size: small;">Carolyn Gould</span></li>
      <li><span style="font-size: small;">Granbalang Investments</span></li>
      <li><span style="font-size: small;">Robert & Lindy Jeremy</span></li>
      <li><span style="font-size: small;">The Magid Foundation</span></li>
      <li><span style="font-size: small;">The Permsew Foundation</span></li>
      <li><span style="font-size: small;">The Perpetual Foundation</span></li>
      <li><span style="font-size: small;">Alden Toevs</span></li>
      <li><span style="font-size: small;">Bill Torrey</span></li>
      <li><span style="font-size: small;">Trudy Weibel & Gernot Heiser</span></li></ul>
    </div>
    <div class="uk-width-1-2">
      <p style="font-size: small;">INNER BEAT CIRCLE MEMBERS (Donations &gt;$500)</p>
      <ul>
      <li><span style="font-size: small;">Jennifer Aaron</li>
      <li><span style="font-size: small;">Steve Anderson</li>
      <li><span style="font-size: small;">Elsa Atkin </li>
      <li><span style="font-size: small;">Phil Breaden</li>
      <li><span style="font-size: small;">Maxine Brodie</li>
      <li><span style="font-size: small;">Meredith Brooks</li>
      <li><span style="font-size: small;">David Bruce-Steer</li>
      <li><span style="font-size: small;">Dorothy Cameron</li>
      <li><span style="font-size: small;">Oi Choong</li>
      <li><span style="font-size: small;">Ian Cleworth</li>
      <li><span style="font-size: small;">John Conway</li>
      <li><span style="font-size: small;">Jeremy Davis</li>
      <li><span style="font-size: small;">Jane Davison</li>
      <li><span style="font-size: small;">Mary Dawson</li>
      <li><span style="font-size: small;">Susan Doyle</li>
      <li><span style="font-size: small;">Liesel Enoch</li>
      <li><span style="font-size: small;">John Garran</li>
      <li><span style="font-size: small;">Robert Green</li>
      <li><span style="font-size: small;">Nicholas Hansen</li>
      <li><span style="font-size: small;">Elizabeth Hill & Dr. Rodney Smith</li>
      <li><span style="font-size: small;">Peter Howard</li>
      <li><span style="font-size: small;">Rebekah Jenkin</li>
      <li><span style="font-size: small;">Ben Kirby</li>
      <li><span style="font-size: small;">Tim Kreger</li>
      <li><span style="font-size: small;">Roxanne Lambie</li>
      <li><span style="font-size: small;">Philip Lincoln</li>
      <li><span style="font-size: small;">Hilary Lunzer</li>
      <li><span style="font-size: small;">Dan May</li>
      <li><span style="font-size: small;">Lee McIver</li>
      <li><span style="font-size: small;">Julie Miller</li>
      <li><span style="font-size: small;">Margaret Moore OAM & Dr. Paul Hutchins</li>
      <li><span style="font-size: small;">Vi Nguyen</li>
      <li><span style="font-size: small;">Ken & Liz Nielson</li>
      <li><span style="font-size: small;">Yukiko Nihei</li>
      <li><span style="font-size: small;">Terence-Liam Preece</li>
      <li><span style="font-size: small;">Andrew Rothery</li>
      <li><span style="font-size: small;">Noriko Shimada</li>
      <li><span style="font-size: small;">Alastair & Beverley Sloan</li>
      <li><span style="font-size: small;">Dr. Arn Sprogis & Margot Woods</li>
      <li><span style="font-size: small;">Adeline Teoh</li>
      <li><span style="font-size: small;">Caroline Thompson</li>
      <li><span style="font-size: small;">Tribe Studio Architects</li>
      <li><span style="font-size: small;">Mary Vallentine</li>
      <li><span style="font-size: small;">The van Reyk Family Cultural Fund</li>
      <li><span style="font-size: small;">Yvonne Vidovic</li>
      <li><span style="font-size: small;">Norman Weaver</li>
      <li><span style="font-size: small;">Martin Wesley-Smith</li>
      <li><span style="font-size: small;">Jeremy Wright & Marilyn Smith</li></ul>
    </div>
  </div>

<div>
  <%= link_to image_tag("buttons/Taikoz_Back.png", width: '100'), root_path %>
</div>
