<h1>Privacy Policy</h1>

  <h3>This Privacy Policy adopts the Australian Privacy Principles set out in Schedule 1 of the Commonwealth Privacy Act 1988.</h3>

  <h4>Collection of solicited personal information</h4>
  <p>Synergy & TaikOz Ltd collects the personal information you give us in connection with our various activities such as:</p>
  <ul>
    <li>Ticket Sales</li>
    <li>Taikoz School Enrolments</li>
    <li>Donations</li>
    <li>Responding to queries</li>
  </ul>
  <p>In addition to details of your transactions, the information we collect may include your name, address, email address, telephone number/s and fax number.</p>
  <p>Unless you tell us otherwise when you provide personal information, you consent to its being entered into our database.  In using this information, we understand people’s concerns about confidentiality and we take seriously our obligations to respect individual privacy.</p>
  <p>You may choose to deal with us anonymously or under a pseudonym unless it is impracticable for Synergy & TaikOz Ltd to complete a transaction on that basis.</p>
