/* CASEIN CUSTOM */
/* Use this file for your project-specific Casein CSS */

@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

.session_margin {
  padding-left: 30px;
  border-left: 1px solid;
  border-color: #ddd;
}

.button_pad {
  padding-top: 20px;
  padding-bottom: 20px;
}
