<h3>Would you like to book Taikoz for a corporate event or school performance?</h3>
<p>Send your enquiry through the form below.</p>
</br>
<%= render 'form' %>
</br>

<p>
  <%= link_to image_tag("buttons/Taikoz_Back.png", width: '100'), contact_path %>
</p>
