@font-face {
  font-family: 'GT-Pressura-Mono-Regular';
    src: font-url('GT-Pressura-Mono-Regular.eot');
    src: font-url('GT-Pressura-Mono-Regular.eot?iefix') format('eot'),
         font-url('GT-Pressura-Mono-Regular.woff') format('woff'),
         font-url('GT-Pressura-Mono-Regular.ttf') format('truetype'),
         font-url('GT-Pressura-Mono-Regular.svg#webfont') format('svg');
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #ffffff;
  color: #404041;
}
