<footer>
  <div class="uk-text-center">
    <a href="mailto:companymanager@taikoz.com">Contact</a>
    |
    <a href="http://www.taikozeducation.com">Classes</a>
    |
    <%= link_to "Privacy Policy", static_pages_privacy_policy_path %>
    |
    <a href="https://www.givenow.com.au/synergyandtaikoz">Donate</a>
    <p>
      Copyright © 2014-2015 Synergy & Taikoz Ltd
    </p>
    <small>Website by Rob Cornish</small>

</footer>
