<div data-uk-slideshow>
  <ul class="uk-slideshow" data-uk-slideshow="{autoplay:true}">
    <li><img src="images/Gala_dinner3.jpg"></li>
    <li><img src="images/Gala_dinner14.jpg"></li>
  </ul>
    <a href="" data-uk-slideshow-item="previous"></a>
    <a href="" data-uk-slideshow-item="next"></a>
</div>
