<ul class="uk-slideshow uk-overlay" data-uk-slideshow="{autoplay:true}">
  <li>
    <img src="http://res.cloudinary.com/taikoz/image/upload/c_scale,w_1800/v1445164666/taikoz_slider_1.jpg">
    <div class="uk-hidden-small uk-overlay-panel uk-overlay-fade uk-overlay-background uk-overlay-bottom uk-text-right">
      <h1>SUBSCRIBE</h1>
      <p><a href="#subscribe-modal" data-uk-modal>CLICK HERE</a> to receive upcoming news and event information</p>
    </div>
  </li>
  <li><img src="http://res.cloudinary.com/taikoz/image/upload/c_scale,w_1800/v1445164666/taikoz_slider_3.jpg">
    <div class="uk-hidden-small uk-overlay-panel uk-overlay-fade uk-overlay-background uk-overlay-bottom uk-text-right">
      <h1>SUBSCRIBE</h1>
      <p><a href="#subscribe-modal" data-uk-modal>CLICK HERE</a> to receive upcoming news and event information</p>
    </div>
  </li>
  <li><img src="http://res.cloudinary.com/taikoz/image/upload/c_scale,w_1800/v1445164666/taikoz_slider_2.jpg">
    <div class="uk-hidden-small uk-overlay-panel uk-overlay-fade uk-overlay-background uk-overlay-bottom uk-text-right">
      <h1>SUBSCRIBE</h1>
      <p><a href="#subscribe-modal" data-uk-modal>CLICK HERE</a> to receive upcoming news and event information</p>
    </div>
  </li>
  <li><img src="http://res.cloudinary.com/taikoz/image/upload/c_scale,w_1800/v1445164666/taikoz_slider_4.jpg">
    <div class="uk-hidden-small uk-overlay-panel uk-overlay-fade uk-overlay-background uk-overlay-bottom uk-text-right">
      <h1>SUBSCRIBE</h1>
      <p><a href="#subscribe-modal" data-uk-modal>CLICK HERE</a> to receive upcoming news and event information</p>
    </div>
  </li>
</ul>
