<div class="main_blocks">
<ul class="uk-grid uk-grid-width-small-1-1 uk-grid-width-medium-1-3 uk-grid-width-large-1-3 uk-text-center" data-uk-grid-margin>
  <li>
    <a href="http://www.taikozeducation.com">
      <img src="http://res.cloudinary.com/taikoz/image/upload/c_fill,h_338,w_600/v1445164668/taikoz_tuition.jpg" alt="Classes" class="main_image_links">
    </a>
  </li>
  <li>
      <iframe src="https://player.vimeo.com/video/139322690?byline=0&portrait=0" class="uk-responsive-width" width="380" height="214" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <!-- <a href="http://vimeo.com/139322690" data-uk-lightbox>Video</a> -->
  </li>
  <li>
    <a href="https://www.givenow.com.au/synergyandtaikoz">
      <img src="http://res.cloudinary.com/taikoz/image/upload/c_fill,h_338,w_600/v1445164639/taikoz_donate.jpg" alt="Donate" class="main_image_links">
    </a>
  </li>
</ul>
</div>
