
<div data-uk-sticky="{boundary: true}">
  <div class="uk-block uk-block-muted">
  <h1>Subscribe</h1>
  <h3><a href="#subscribe-modal" data-uk-modal>Click Here</a></h3>
  <p>Keep up to date with all Taikoz new by subscribing to our newsletter</p>
<hr>
<%# render "layouts/sidebar_events" if controller_name == 'posts' %>
<% if controller_name == 'events' %>
  <%= render "layouts/sidebar_posts" %>
<% else %>
  <%= render "layouts/sidebar_events" %>
<% end %>

</div><!--Block-->
</div><!--Sticky-->
